.note-section {
  background-color: #f5bf82;
  padding: 3rem 0;
  margin-bottom: 3rem;
}

.note-container {
  max-width: 800px;
  margin: 0 auto;
}

/*!!!!No Edits Above This Line!!!!*/

.note-icon {
    height: 40px;
    width: 40px;
    margin: 0 auto 1rem;
    display: block;
}

.note-title {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  margin: 1rem auto;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-content {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ffffff;
  max-width: fit-content;
  margin: 0 auto;
}

/* Responsive */
@media (max-width: 768px) {
  .note-container {
    padding: 1.5rem;
  }
  
  .note-title {
    font-size: 2rem;
  }
  
  .note-content {
    font-size: 0.95rem;
  }
}